h1 {
  color: black;
  font-size: 28px;
  font-weight: 600;
  font-family: "Bebas Neve", sans-serif;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  list-style: none;
}

body {
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );
  background-size: cover;

  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.open-source-code-link {
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}
.container {
  background-size: cover;
  max-width: 600px;
  display: block;
}
